<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>{{name}} <i class="fa fa-lock" style="font-size:px"></i></h1>


<div *ngIf="!(authService.user | async)">
  <form>
    <fieldset>
      <legend class="legend">Login</legend><br>
      <div class="div"> Email </div>
      <input type="text" name="email" [(ngModel)] = "email"/>
      <div class="div"> Senha </div>
      <input type="password" name="password" [(ngModel)] = "password"/>
      <hr/>
      <button class="button"(click)="loginWithEmail()">Entrar com Email</button>  
      <button class="button button2" (click)="loginWithGoogle()">Entrar com Google</button> 
    </fieldset>
  </form>
</div>

<div *ngIf="authService.authError" style="color: red">
  {{authService.authError}}
</div>

<div *ngIf="authService.user | async">
  Logado como <b>{{(authService.user | async)?.email}}</b> |
  <button (click)="logout()">Sair</button>
  <hr/>
  <div>
    <a>Início</a> |
    <a>Lista do FireBase</a>    
  </div>
  <hr/>   
 
</div>
